.banner {
	background-image: linear-gradient(20deg, rgba(191, 5, 247, 0.2) 3%, rgba(247, 202, 201, 0.2) 50%), url("../../images/background.jpeg");
	background-size: cover;
	background-position: center; 
	color: white;
	padding: 150px 0px ;
}

.banner {
	font-size: 32px;
	font-weight: bold;
	opacity: 1.1;
}

.banner h2  {
	font-size:30px;
	font-weight: lighter;
	opacity: 1.1;
	margin-bottom: 40px;

}